.sign-up {
 display: inline-block;
 position: relative;
 margin-top: 100px;
}

.center {
 text-align: center;
}

input[type=email] {
 color: black;
 font-size: 16px;
 font-weight: 500;
 padding-left: 10px;
 width: 400px;
 height: 40px;
}

input[type=password] {
 color: black;
 font-size: 16px;
 font-weight: 500;
 padding-left: 10px;
 width: 400px;
 height: 40px;
}

input[type="number"] {
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  width: 150px;
  height: 40px;
}

.new_user input[type=text] {
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  width: 400px;
  height: 40px;
}

.create-activity input[type=text] {
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  width: 400px;
  height: 40px;
}

.file-upload {
  padding: 0 0 0 75px;
  display: inline-block !important;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 0px !important;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.submit-btn {
  width: 130px;
  border: none;
  padding: 5px;
  line-height: 1;
  border-radius: 0;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px !important;
  font-weight: 500 !important;
  background-color: #2f7cd0 !important;
  color: #fff;
  list-style-type: none;
}

.lrg-submit-btn {
  width: 400px;
  border: none;
  padding: 5px;
  line-height: 1;
  border-radius: 0;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px !important;
  font-weight: 500 !important;
  background-color: #2f7cd0 !important;
  color: #fff;
  list-style-type: none;
}

.lrg-submit-btn:hover {
  color: #ececec;
}

.profile {
  padding-top: 150px;
}
